.gitattributes text eol=lf
*.html text eol=lf
*.css text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.md text eol=lf
*.srt text eol=lf
*.vtt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
